.admin-challenge-list-page-content-challenge-name{
	width: 20%;
	box-sizing: border-box;
    float: left;
    margin-left: 0;
    padding-left: 22.5px;
    padding-right: 7.5px;
	text-align: left !important;

	font-size: 1em;
    line-height: 1.5em;
    margin: 0;
} 

.admin-challenge-list-page-content-max-score, .admin-challenge-list-page-content-public{
	width: 20%;
	box-sizing: border-box;
    float: left;
    margin-left: 0;
    padding-left: 7.5px;
    padding-right: 7.5px;
	text-align: center !important;

	font-size: 1em;
    line-height: 1.5em;
    margin: 0;
}

.admin-challenge-page-content-table-item-container{
	border-bottom: 1px solid #C2C7D0;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0;

	display: flex;
}

.admin-challenge-page-content-table-item-container p{
	margin-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.admin-challenge-page-content-table-item-container .admin-challenge-list-page-content-max-score{
	color: #979faf !important;
}

.admin-challenge-page-content-table-item-container .admin-challenge-list-public-challenge{
	color: #2ec866
}

.admin-challenge-page-content-table-item-container .admin-challenge-list-hidden-challenge{
	color: #f65039
}