@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Source+Code+Pro:wght@400;500;600;700&display=swap');

body{
	padding: 0px;
	margin: 0px;
	font-family: Whitney SSm A,Whitney SSm B,Avenir,Segoe UI,Ubuntu,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
	color: #39424e;
}

*{
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
	background-color: transparent;
}

.page-content-wrapper{
	min-width: auto;
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}